:root {
    --primary-color: #009e17;
    --color-2: #7dff0b;
    --color-3: #5a27f3;
    --red: #c61010;
    --txt-color-1: #fff;
    --txt-color-2: #bbbbbb;
    --border-color: #f6f6f6;
    --shadow: #e1e1e13f;
    --bg: #000000;
    --bg-white: #ffffff;
    --font-1: "Open Sans", sans-serif;
    --font-2: "Aoboshi One", sans-serif;
    --font-3: "Jura", sans-serif;
    --font-4: "Open Sans", sans-serif;

}