@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Jura:wght@300..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Voces&display=swap");

:root {
    --primary-color: #009e17;
    --color-2: #7dff0b;
    --color-3: #3103b7;
    --color-4: #1dc26f;
    --txt-color-1: #fff;
    --txt-color-2: #bbbbbb;
    --border-color: #f6f6f6;
    --border-dark-green: #0c371396;
    --shadow: #e1e1e13f;
    --bg: #000000;
    --glass: rgba(255, 255, 255, 0.04);
    --glass-red: rgba(169, 12, 12, 0.449);
    --glass-green: rgba(0, 158, 23, 0.449);
    --font-1: "Open Sans", sans-serif;
    --font-2: "Aoboshi One", sans-serif;
    --font-3: "Jura", sans-serif;
    --font-4: "Open Sans", sans-serif;
    --font-5: "Noto Sans", sans-serif;
}

.container {
    .content-main {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        position: relative;

        .title-main {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 35px;
            line-height: 0.8;
            /* aproxima as linhas */

            h1 {
                font-family: var(--font-2);
                color: var(--txt-color-1);
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 4rem;

                span {
                    font-family: var(--font-3);
                    color: var(--primary-color);
                    font-size: 3.5rem;
                }
            }
        }

        img{
            position: absolute;
            top: 39%;
            left: 51%;
            transform: translate(-50%, -50%);

            @media (max-width: 430px) {
                top: 34%;
            }
        }

        .content-main-analysis {
            margin: 50px 0 20px;
            background: linear-gradient(150deg, #13141441, #02512a2b);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(8px);
            border: 1px solid var(--border-dark-green);

            border-radius: 12px;

            padding: 12px 15px;
            display: flex;
            flex-direction: column;
            width: 100%;

            .title-topic {
                font-family: var(--font-3);
                font-size: 1.25rem;
                color: #0d5330;
                text-transform: uppercase;

                span {
                    p {
                        display: inline;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 13px;
                        font-family: var(--font-5), sans-serif;
                    }

                    display: flex;
                    text-align: start;
                    gap: 6px;
                }
            }

            .title-analysis {
                line-height: 1;
                /* aproxima as linhas */
                
                h1 {
                    padding: 10px 0 12px;
                    margin: 0;
                    font-family: var(--font-4);
                    color: var(--txt-color-1);
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                    font-size: 2rem;
                    font-weight: 600;

                    @media (max-width: 430px) {
                        font-size: 1.4rem;
                    }

                    span {
                        font-size: 2rem;
                        background: linear-gradient(90deg, var(--color-4) 0%, var(--primary-color) 50%, var(--color-2) 100%);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        color: transparent;

                        @media (max-width: 430px) {
                            font-size: 1.5rem;
                        }
                    }
                }

            }

            .search-analysis {
                display: flex;  
                gap: 6px;

                @media (max-width: 430px) {
                    flex-direction: column;
                }

                .search-input-wrapper {
                    position: relative;
                    width: 100%;
                    max-width: 1200px;

                    .search-icon {
                        position: absolute;
                        left: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #6b7280;
                        pointer-events: none;
                    }

                    input {
                        background: var(--bg);
                        width: 100%;
                    max-width: 1200px;

                        padding: 0.6rem 0.9rem;
                        padding-left: 2.6rem;
                        border-radius: 8px;
                        font-family: var(--font-1), sans-serif;
                        border: 1px solid #18181d;
                        outline: none;
                    }
                }

                .btn-search {

                    @media (max-width: 430px) {
                        width: 100%;

                    }

                    button {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        padding: 0.55rem 0.9rem;
                        border-radius: 8px;
                        border: none;
                        outline: none;
                        font-size: 12px;
                        font-family: var(--font-2);
                        color: var(--txt-color-1);
                        text-transform: uppercase;
                        background: linear-gradient(55deg, #009e17, #7dff0b);
                        
                        cursor: pointer;
                        transition:
                            transform 0.3s ease-in-out,
                            box-shadow 0.25s ease-in-out;

                        &:hover {
                            transform: scale(0.97) translateY(1px);
                            box-shadow:
                                -10px 0 20px rgba(7, 83, 213, 0.412),
                                10px 0 20px rgba(9, 197, 25, 0.444),
                                0 0 10px rgba(109, 238, 141, 0.711);
                        }
                    }
                }
            }

            .topics-of-search {
                display: flex;
                gap: 12px;
                margin-top: 15px;
                justify-content: center;
                align-items: center;

                .title-topics {
                    p {
                        font-family: var(--font-4);
                        color: var(--txt-color-2);
                        font-size: 0.7rem;
                    }
                }
                ul{
                    display: flex;
                    gap: 12px;

                }

                li {
                    list-style: none;

                    button {
                        background-color: var(--bg);
                        border: 1px solid var(--txt-color-3);
                        color: var(--txt-color-3);
                        padding: 6px 12px;
                        border-radius: 16px;
                        font-family: var(--font-1), sans-serif;
                        font-size: 0.6rem;
                        cursor: pointer;
                        transition:
                            transform 0.3s ease-in-out,
                            box-shadow 0.25s ease-in-out;

                        &:hover {
                            transform: scale(0.97) translateY(1px);
                            box-shadow:
                                -10px 0 20px rgba(7, 83, 213, 0.412),
                                10px 0 20px rgba(9, 197, 25, 0.444),
                                0 0 10px rgba(109, 238, 141, 0.711);
                        }
                    }
                }
            }
        }

        .content-main-info {
            display: grid;
            place-items: center;

            p {
                max-width: 460px;
                font-weight: 300;
                font-family: var(--font-3);
                color: var(--txt-color-2);
                font-size: 1rem;
            }
        }
    }
}